<div>
    <div class="card">
        <div class="card-header bg-primary text-white">
            Prestador - Facturador
        </div>
        <div class="card-body">
            <div class="panel-body row">
                <!--<div class="col-md-3 col-sm-12 col-xs-12">
                    <label for="prestador">Prestador</label>
                    <select id="prestador" class="form-control" [(ngModel)]="prestador" (change)="presChange()">
                        <option *ngFor="let order of prestadores; let i = index" [ngValue]="prestadores[i].id"> {{prestadores[i].name}} </option>
                    </select>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <label for="OS">Obra Social</label>
                    <select id="OS" name="OS" class="form-control" (focus)="osFocus()" [(ngModel)]="obrasocial">
                        <option *ngFor="let order of OSXIdPre; let i = index" [value]="OSXIdPre[i].id"> {{OSXIdPre[i].name}} </option>
                    </select>
                </div>-->
                <div class="col-md-2 col-sm-12 col-xs-12">
                    <ngb-datepicker #dp [(ngModel)]="model" (click)="selectToday()" (navigate)="date = $event.next"></ngb-datepicker>
                </div>
               
                <div class="col-md-2 col-sm-12 col-xs-12">

                </div>
            </div>
        </div>
    </div>
</div>